header, footer
{
    
    width: 637.5pt;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header
{
    height: 337.5pt;
    background-image: url(galaxy.jpg);
    margin-bottom: 15pt;
    
}

footer
{
    height: 243pt;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15pt;
    background: #E6E6E5;
    column-gap: 15pt;
    
}


body
{
    
    background: white;
}

.text
{
    font-family: 'Roboto', sans-serif;
    
}

header h1 
{
    color: white;
    font-size: 500%
}


footer h2, span, a, label, input
{  
    color: black;
    position: relative;
    bottom: 30pt;
    
    
}

footer h2, span
{
    margin-left: 15pt;
}

footer span, a{
    font-size: 11pt;
    
}

footer section
{
    width: 202.5pt;
    height: 190.5pt;
    text-align: left, center;
    
}

.button
{
    background-color: rgb(56, 56, 56);
    border: none;
    padding: 5pt 11.5pt;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 12pt;
    font-weight: bolder;
    
}

textarea#message
{
    
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
      
}